html,
body {
    margin: 0;
    padding: 0;
}

#topnav {
    background-color: gold;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#topnav a {
    color: black;
    text-decoration: none;
    font-size: auto;
}