html,
body {
    margin: 0;
    padding: 0;
}

/* navbar */
#topnav {
    background-color: gold;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#topnav a {
    color: black;
    text-decoration: none;
    font-size: auto;
}

/* bỏ đi bullet ở đầu list */
#devices-list li {
    display: flexbox;
    list-style: none;
    border: 1px solid cyan;
}