html,
body {
  margin: 0;
  padding: 0;
}

/* navbar */
#topnav {
  background-color: gold;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

#topnav a {
  color: black;
  text-decoration: none;
  font-size: auto;
}

/* bỏ đi bullet ở đầu list */
#devices-list li {
  background-color: lightgoldenrodyellow;
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px;
}

/* make content become row */
#devices-list {
  display: flex;
}

#devices-list img {
  width: 150px;
  display: block;
  margin: 0 auto;
}